<div ng-controller="EditorController">
  <div class="row">
    <div class="col-lg-5" ng-controller="SettingsController">
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="select('addField')"
                ng-class="{active: currentTab == 'addField'}">Add Field</button>
        <button type="button" class="btn btn-default" ng-click="select('fieldSettings')"
                ng-class="{active: currentTab == 'fieldSettings'}">Field Info</button>
        <button type="button" class="btn btn-default" ng-click="select('formSettings')"
                ng-class="{active: currentTab == 'formSettings'}">Form Info</button>
      </div>

      <br><br>

      <div ng-show="currentTab == 'addField'" class="panel panel-success">
        <div class="panel-heading">Add Field</div>
        <div class="list-group">
          <a class="list-group-item"
             ng-repeat="fieldType in fieldTypes" ng-click="addField(fieldType)" eat-click href="#">
            <span ng-bind="fieldType.displayName"></span>
          </a>
        </div>
      </div>

      <div ng-if="editingField" class="panel panel-info" ng-controller="EditFieldController">
        <div class="panel-heading">Field Settings</div>
        <form>
          <div class="form-group">
            <label for="fieldLabel">Field label</label>
            <textarea ng-model="editingField.label" class="form-control" id="fieldLabel"></textarea>
          </div>

          <div class="form-group">
            <label for="fieldType">Field type</label>
            <select ng-model="editingField.type">
              <option ng-repeat="type in fieldTypes"
                      value="{{ type.name }}"
                      ng-selected="type.name == editingField.type">{{ type.displayName }}</option>
            </select>
          </div>

          <input type="checkbox" ng-model="editingField.isRequired">

          <div ng-include="editTemplate"></div>
        </form>
      </div>

      <div ng-show="currentTab == 'formSettings'" class="panel panel-primary">
        <div class="panel-heading">Form Settings</div>
        <form>
          <div class="form-group">
            <label for="formTitle">Form title</label>
            <input ng-model="form.title" class="form-control" id="formTitle">
          </div>

          <div class="form-group">
            <label for="formDescription">Description</label>
            <textarea ng-model="form.description" class="form-control" id="formDescription"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-7">
      <h2 ng-bind="form.title"></h2>
      <div class="panel" ng-bind="form.description"></div>

      <div class="list-group">
        <a ng-repeat="field in form.fields"
            ng-controller="PreviewFieldController"
            class="list-group-item"
            ng-click="editField(field)"
            ng-class="{active: editingField === field}"
            eat-click
            href="">
          <h4 class="list-group-item-heading" ng-bind="field.label"></h4>
          <div ng-include="previewTemplate"></div>
          <button class="btn btn-danger" ng-click="removeField(field)">Remove</button>
        </a>
      </div>
    </div>
  </div>

  <br><br><br>
  <pre ng-bind="form | json" style="font-size:10px"></pre>
</div>
